.wrapperupper {
  height: 100vh;
  width: 100%;
  position: relative;
}

.wrapperupper img {
  height: 100%;
  width: 100%;
}

.btngetstarted {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 48, 131);
  color: #fff;
  padding: 6px 10px;
  font-size: 1.2rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 1s, color 0.3s;
}

.btngetstarted::before {
  content: '';
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 152, 241, 0.5);
  transition: right 1s;
}



.btngetstarted:hover {
  color: #fff;
  background-color: rgba(0, 106, 188, 0.7);
}

.swiper-button-next,
.swiper-button-prev {
  background-color: rgb(0, 29, 100);
  color: #fff;

}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 0.7rem !important;
}