.footer {
    background-color: rgb(0, 29, 100);
    color: white;
    padding: 20px;
}

.footer-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footerContact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.dfottericonscencnt {
    margin-left: 20%;
}

.dfootermsgcnt {
    margin-right: 30%;
}

.footer-content {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 29, 100);
    justify-content: space-around;
    color: #fff;
}

.fotter-upper:hover,
.fotter-upper:hover p,
.fotter-upper:hover .dfottericons,
.fotter-upper:hover .dfottericonscen,
.fotter-upper:hover .fotterphone {
    color: rgb(0, 104, 183) !important;
}

.footer-content p {
    margin: 5px 0;
}

.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    font-size: 14px;
}

.design-info {
    display: flex;
    align-items: center;
}

.design-info p {
    margin: 0;
    font-size: 14px;
    margin-left: 5px;
}

.copyright-icons {
    display: flex;
}

.copyright-icons img {
    margin-right: 10px;
}

.copyrighticoninner:hover {
    color: rgb(0, 104, 183);
}



@media (max-width: 768px) {
    .footer-content {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer-icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column !important;
    }

    .footerContact {
        margin: 10px 0;
    }
}